.idea/
-iac/
__pycache__/

# System repos
datadoc/
ssb-datadoc-model/
dapla-toolbelt-metadata/
klass/
klass-web/
vardef/
metadata-api-gateway/
datadoc-editor/
dapla-metadata-iac/
metadata-catalog-poc/
metadata-catalog-prototype/
ssb-dataportal/
datadoc-service/
metamapper/
